* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.colored {
  background-color: #ddd8d8;
}

.brand-text {
  font-family: 'Almonds';
}

.container-fluid {
  padding: 3% 6%;
}

.card {
  width: 90%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, minmax(20px, auto));
  grid-template-areas:
  "nav-bar nav-bar"
  "title title"
  "about-ash about-ash"
  "about-mind about-mind"
  "featured featured"
  "feat-guest feat-guest"
  "contact contact";
}

/* nav-bar styling */

#nav-bar {
  grid-area: nav-bar;
  opacity: 0.95;
  background-color: white;
}

/* title styling */


#title {
  grid-area: title;
}

.heading {
  padding: 16rem 0 17rem;
}

h1.brand-text {
  font-size: 7rem;
  font-weight: bold;

  color: #fff;
}

#title h2 {
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: lighter;

  color: #fff;
}

.plant-image {
  background-image: url(images/darkleaves.jpg);
  background-size: cover;
}

/* about mind unravelled styling */

#about-mind {
  grid-area: about-mind;
}

#about-mind div.card {
  background-color: #ddd8d8;
}

#about-mind h3 {
  font-size: 3.5rem;
}
#about-mind p {
  text-align: left;
}


/* about ash */

#about-ash {
  grid-area: about-ash;
  background-color: #fff;
}

.card-deck {
  padding: 15px 0;
}


#about-ash div.card {
  border: none;
}

h3.about-title {
  font-family: 'Gotu', sans-serif;
  font-size: 4rem;
  padding: 0 0 1.5 rem;
}

.card-img {
  padding: 0.5rem 0 1.5rem;
  width: 200px;
}

.card-text {
  text-align: left;
  word-wrap: break-word;
  font-weight: lighter;
}

span.ashley {
  text-decoration: underline;
}

/* featured styling */

#featured {
  grid-area: featured;
  text-align: center;
}

#featured h3 {
  padding-top: 20px;
}
.card {
  padding: 20px;
  border: none;
  margin: 40px auto;
}

.vid-title {
  padding: 0 0 1rem 0;
}
.vid-desc {
  padding-top: 20px;
}

/* featured guest styling */

#feat-guest {
  grid-area: feat-guest;
}

#feat-guest div.card {
  background-color: #ddd8d8;
}

#contact {
  grid-area: contact;
}
